<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:with="member = ${#authentication.principal.member}">

	<h1>Admin Page [[${member.mname}]]</h1>
	
	<div sec:authorize="hasRole('MEMBER')"> Member menu</div>
	<div sec:authorize="hasRole('BUYER')"> Buyer menu</div>
	<div sec:authorize="hasRole('ADMIN')"> Admin menu</div>
	<div sec:authorize="isAuthenticated()"> Login</div>
	
</body>
</html>